.greentext {
	color: green;
}
p {
	margin-block-end: 0;
    margin-block-start: 0;
}
.highlight {
	border: solid 1px red;
}
.reply {
	position: absolute;
}
.uid {
	border-radius: 10px;
}
.uid:hover {
	color: red;
}
.tripcode {
	color: green;
    font-weight: bold;
}
.post {
	background-color: rgb(240, 224, 214);
}
.marked {
	background-color: rgb(128, 0, 0);
}
.address:hover {
	color: red;
}
.thumbnail-box {
	display: flex;
	flex-flow: row wrap;
	/*justify-content: space-between;*/
}